@CHARSET "UTF-8";

.align-right{
	float: right;
	margin-bottom: 10px;
}

.right{
	float: right;
}

.center-text{
	text-align: center;
}

table.dataTable thead th, table.dataTable thead td{
	padding: 10px 5px !important;
}

#map {
    height: 400px;
    width: 100%;
    margin: 0px;
    padding: 0px
  }

.margin-top-bottom-0{
	margin-top: 0;
	margin-bottom: 0;
}

.hover:hover{
	background-color: rgba(175, 175, 175, 0.54);
	color: white; 	
}
	
}