<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>skalada</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login para entrar la backoffice</description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViasController</display-name>
    <servlet-name>ViasController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.ViasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViasController</servlet-name>
    <url-pattern>/vias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControler</display-name>
    <servlet-name>LogoutControler</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.LogoutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControler</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador de la pagina publica principal o frontend</description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
</web-app>