<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>skalada</display-name>
  <welcome-file-list>
    <welcome-file>home</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>Login para entrar la backoffice</description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViasController</display-name>
    <servlet-name>ViasController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.ViasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViasController</servlet-name>
    <url-pattern>/vias</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutControler</display-name>
    <servlet-name>LogoutControler</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.LogoutControler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutControler</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador de la pagina publica principal o frontend</description>
    <display-name>HomeController</display-name>
    <servlet-name>HomeController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.HomeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeController</servlet-name>
    <url-pattern>/home</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>controlador para visualizar los detalles de las vias en el frontend</description>
    <display-name>ViasPublicController</display-name>
    <servlet-name>ViasPublicController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.ViasPublicController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViasPublicController</servlet-name>
    <url-pattern>/via</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GradosController</display-name>
    <servlet-name>GradosController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.GradosController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GradosController</servlet-name>
    <url-pattern>/grados</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TipoEscaladaController</display-name>
    <servlet-name>TipoEscaladaController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.TipoEscaladaController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TipoEscaladaController</servlet-name>
    <url-pattern>/tipo-escalada</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ZonasController</display-name>
    <servlet-name>ZonasController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.ZonasController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZonasController</servlet-name>
    <url-pattern>/zonas</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SectoresController</display-name>
    <servlet-name>SectoresController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.SectoresController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SectoresController</servlet-name>
    <url-pattern>/sectores</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador para retornar las Zonas en formato Json, preparado para recibir llamadas por Ajax</description>
    <display-name>ZonasJsonController</display-name>
    <servlet-name>ZonasJsonController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.json.ZonasJsonController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ZonasJsonController</servlet-name>
    <url-pattern>/zonas-json</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador para los roles de los usuarios</description>
    <display-name>RolesController</display-name>
    <servlet-name>RolesController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.RolesController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RolesController</servlet-name>
    <url-pattern>/roles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Controlador para los los usuarios</description>
    <display-name>UserController</display-name>
    <servlet-name>UserController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.UserController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserController</servlet-name>
    <url-pattern>/usuarios</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Registro de usuarios</description>
    <display-name>SignupController</display-name>
    <servlet-name>SignupController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.SignupController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignupController</servlet-name>
    <url-pattern>/signup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>Validar usuario</description>
    <display-name>ValidarController</display-name>
    <servlet-name>ValidarController</servlet-name>
    <servlet-class>com.ipartek.formacion.skalada.controladores.ValidarController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ValidarController</servlet-name>
    <url-pattern>/validar</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>5</session-timeout>
  </session-config>
  <listener>
    <listener-class>com.ipartek.formacion.skalada.listener.ListenerInit</listener-class>
  </listener>
</web-app>